# Compiled object files
*.o
*.obj
*.so
*.exe
*.out
*.dll

# Backup and temporary files
*.log
*.tmp
*.swp
*~

# VS Code settings folder
.vscode/

# Mac OS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Git itself
.gitignore
